extends layout

block content
  #banner.page-header
    .row
      .col-md-6.col-sm-12
        h1= title

  .row
    .col-md-6.col-sm-12
      p
        | Loc8r was created as a test. I am following a tutorial to establish a good idea of how best to use various
        | JS framworks so I can go on to create a database driven app for tracking my form.
        | <br /><br />